




.box-1{
	width: 536px;
	background-color: #F8F8F8;
	float: left;
	

}
.box-2{
	width: 536px;
	background-color: #F8F8F8;
	float: right;


}
.clear{
	clear: both;
}
.img-box{
	float: left;
	margin-left: 40px;

 
}
.text-box{
	float: left;
	width: 260px;

}

